<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzq.dao.ShortSloganMapper">
  <resultMap id="BaseResultMap" type="com.gzq.entity.ShortSlogan">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="second_title" jdbcType="VARCHAR" property="secondTitle" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="first_title" jdbcType="VARCHAR" property="firstTitle" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="src" jdbcType="VARCHAR" property="src" />
  </resultMap>
  <sql id="Base_Column_List">
    id, second_title, status, first_title, href, src
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from short_slogan
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from short_slogan
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gzq.entity.ShortSlogan">
    insert into short_slogan (id, second_title, status, 
      first_title, href, src
      )
    values (#{id,jdbcType=BIGINT}, #{secondTitle,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{firstTitle,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, #{src,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gzq.entity.ShortSlogan">
    insert into short_slogan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="secondTitle != null">
        second_title,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="firstTitle != null">
        first_title,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="src != null">
        src,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="secondTitle != null">
        #{secondTitle,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="firstTitle != null">
        #{firstTitle,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        #{src,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzq.entity.ShortSlogan">
    update short_slogan
    <set>
      <if test="secondTitle != null">
        second_title = #{secondTitle,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="firstTitle != null">
        first_title = #{firstTitle,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        src = #{src,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzq.entity.ShortSlogan">
    update short_slogan
    set second_title = #{secondTitle,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      first_title = #{firstTitle,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>